In [1]:
import pandas as pd

In [2]:
chunk1 = pd.read_csv('C:\\Users\\sauli\\Downloads\\Soft_Tesis\\data_part_1.csv', delimiter='|', skiprows=[1] )

In [3]:
chunk1.columns = chunk1.columns.str.replace(' ', '')

In [4]:
chunk1["data_hora"] = chunk1["data_hora"].str.strip()

In [9]:
chunk1.head(1)

             data_hora   nanosseg  latitude  longitude  corrente_ka  tipo
0  2018-11-24 16:00:01  155525188 -21.95753  -50.70251       -1.867     1

In [11]:
date_time = chunk1.data_hora.str.extract('(?P<year>\d{4})-(?P<month>\d{2})-(?P<day>\d{2}) (?P<hour>\d{2}):(?P<minute>\d{2}):(?P<second>\d{2})')

In [47]:
date_time.head(1).join(chunk1.head(1).iloc[:,-5:]).rename(columns={'nanosseg': 'nanosec', 'corrente_ka':'corrente_pico_kA', 'tipo':'cg_ic_flag'})

,year,month,day,hour,minute,second,nanosec,latitude,longitude,corrente_pico_kA,cg_ic_flag
0,2018,11,24,16,00,01,155525188,-21.95753,-50.70251,-1.867,1