In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import os

In [57]:
data_file = '2018-12-13-0100_analisis.txt'
data = pd.read_csv(data_file, skiprows=3, skipinitialspace=True)

In [58]:
data

                  time region  #pixels  area(km2)  distance(km)
0     2018-12-13-01:00   G001    11061      44244           426
1     2018-12-13-01:00   G002     2907      11628          1342
2     2018-12-13-01:00   G003     2828      11312           988
3     2018-12-13-01:00   G004     1930       7720          1826
4     2018-12-13-01:00   G005     1792       7168          1344
...                ...    ...      ...        ...           ...
2816  2018-12-15-07:00   M347     1799       7196           605
2817  2018-12-15-07:00   M358      102        408           495
2818  2018-12-15-07:00   M360       29        116           701
2819  2018-12-15-07:00   M361       32        128           493
2820  2018-12-15-07:00   M362       16         64           860

[2821 rows x 5 columns]

In [ ]:
manual_tracking1 = ['C005','C006','C007','C008','C015','C019','C020','C023','C028','C029','C030','C033','C039','C040','C041','C043','C047'
,'C051','C052','C053','C062','C063','C066','C067','C074','C079','C080','C083','C088','C094','C095','C100' ]
manual_tracking2 = ['C009','C010','C011','C012','C013','C014','C016','C017','C018','C024','C026','C027','C038','C045','C085','C089',]
manual_tracking3 = ['C055','C059']

In [64]:
data.loc[data['region'] in manual_tracking1, ['time','region', 'area(km2)']]

                time region  area(km2)
2   2018-12-13-01:00   G003      11312
15  2018-12-13-01:15   G003      12128
24  2018-12-13-01:30   G003      14356
30  2018-12-13-01:45   G003      18580
37  2018-12-13-02:00   G003      24064
44  2018-12-13-02:15   G003      28768
50  2018-12-13-02:30   G003      34576
55  2018-12-13-02:45   G003      39208
60  2018-12-13-03:00   G003      42400
64  2018-12-13-03:15   G003      45440
70  2018-12-13-03:30   G003      47520
77  2018-12-13-03:45   G003      48564